.home-content h1.main-heading {
  font-size: 6rem !important;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
  line-height: 1.05;
}

.home-content h1.main-heading::first-line {
  color: #fff;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
  margin-top: 0;
  width: auto;
  max-width: 35ch;
  align-self: flex-start;
  margin-right: auto;
}

@media (max-width: 768px) {
  .home-content h1.main-heading {
    font-size: 3rem !important;
    word-wrap: break-word;
  }

  .home-content p.sub-heading {
    font-size: 1.5rem !important;
    margin-bottom: 1.5rem;
    max-width: 100%;
    width: 100%;
  }
}