:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(21, 21, 21, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: rgba(25, 25, 25, 1); /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: rgba(32, 32, 32, 1); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 21, 21, 1); /* Darker color on hover */
}

::-webkit-scrollbar-thumb:active {
  background: rgba(21, 21, 21, 1); /* Even darker color when active */
}
